div {
  background: $background;
}

button{
  border: none;
  background: $background;
  font-family: $font-family;
  font-variant: small-caps;
}

hr {
  width: 100%;
  border:none;
  border-top: 1px solid $primary;
  margin-top: 2*$spacing;
  margin-bottom: 2*$spacing;
}