.navBarWrapper{
    display: flex;
    align-items: center;
    width : 50%;
    @media #{$desktop} {
        width:100%;
        flex-wrap: wrap;
    }
}

.majorNavButton{
    width:100%;
    height: 7*$spacing;
    vertical-align: top;
    font-size: large;
    padding: 2*$spacing 0;
    &--selected {
        @extend .majorNavButton;
        background: $primaryLight;
    }
}

.majorNavButton:hover{
    background: $primary;
}

.minorNavButton{
    vertical-align: top;
    width: 100%;
    font-size: medium;
    padding: 2*$spacing 0;
    &--selected {
        @extend .minorNavButton;
        background: $primaryLight;
    }
}

.minorNavButton:hover{
    background: $primary;
}

.expandableContainer{
    font-size:0;
    display: block;
    //width: 100%;
    position: absolute;
    @media #{$desktop} {
        width: 100%;
        position: unset;
    }
}

.narrowDivider {
    margin-top: 0;
    margin-bottom: 0;
    width:80%;
}

.galleryButtonsWrapper {
    width: 100%;
}