.mobileGallery {
    display: flex;
    padding-right: $spacing;
    @media #{$tablet} {
        display: none;
    }
}

.desktopGallery {
    display: none;
    padding-right: $spacing;
    @media #{$tablet} {
        display: flex;
    }
}

.column {
    flex: 50%;
}