.sidebarContainer {
    padding: 2*$spacing 2*$spacing 0 2*$spacing;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media #{$tablet} {
        padding: 2*$spacing 0 2*$spacing $spacing;
        font-size: 50px;
        width: $sidebarWidth;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
    }
    @media #{$desktop} {
        padding: 2*$spacing 2*$spacing 2*$spacing $spacing;
    }
}

.logo {
    width: 100%;
    max-width: 200px;
    @media #{$tablet} {
        width: 50%;
    }

}

.logoContainer {
    width: 20%;
    padding-right: $spacing;
    @media #{$tablet} {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: unset;
    }
}

.title {
    display:none;
    @media #{$tablet} {
        display:unset;
        text-align: center;
        font-size: x-large;
        width: 100%;
        font-variant: small-caps;
        font-weight: 500;
    }
}
